<%= form_with(model: @user, local: true) do |form| %>
  <p>Name: <%= form.text_field :name %></p>
  <p>Email: <%= form.text_field :email %></p>
  <p>Password: <%= form.password_field :password %></p>
  <p>Mobile Number: <%= form.text_field :mobile_number %></p>

  <%= link_to "List Custom Fields", user_custom_fields_path(@user) %>
  <p><%= form.submit %></p>
<% end %>
