<!-- app/views/users/index.html.erb -->
<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.mobile_number %></td>
        <td>
          <%= link_to 'Show', user %>
          <% if current_user == user %>
            <%= link_to 'Edit', edit_user_path(user) %>
            <%= button_to "Destroy", user_path(user), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path %> 
<% if user_signed_in? %>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Sign In", new_user_session_path %>
<% end %>